# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django stuff:
*.log
db.sqlite3
media/
staticfiles/
.env
*.pot
*.pyc
*.pyo
*.pyd

# VSCode
.vscode/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
debug.log
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# PyCharm
.idea/

# System files
.DS_Store
Thumbs.db

# Ignore Excel/Word/CSV test files
*.xlsx
*.xls
*.docx
*.csv
*.pdf
*.rtf
*.xml
*.odt
*.json

# Ignore backup files
*~
*.bak
*.tmp

# Ignore migrations if desired
# */migrations/
*.pyc
__pycache__/
db.sqlite3
